.navbar-container {
	display: flex;
	height: 40px;
	padding: 10px;
	justify-content: space-between;
	border-bottom: 1px solid black;
	box-shadow: gray;
}
.btn-container {
	padding: 10px;
}
.btn-container Button {
	padding: 5px;
	width: 80px;
	border-radius: 20px;
	margin-right: 10px;
	border: 2px;
}
