.navbar-container {
	display: flex;
	position: relative;
	padding: 10px;
	justify-content: space-between;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.logo .icon-style {
	padding-top: 3px;
	margin: auto;
}
.logo {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 10%;

	font-size: large;
	font-weight: bold;
	font-family: 'Kalam', cursive;
}
.logo div .btn-container {
	padding: 10px;
}
.logo a {
	color: #1a759f;
	text-decoration: none;
}

.btn-container Button {
	padding: 5px;
	width: 90px;
	border-radius: 20px;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px;
	background-color: #1a759f;
}

/* @media Query */
@media (max-width: 800px) {
	.logo {
		width: 25vw;
	}
}
